<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434655653407-aipoh5cu8huv2qt0u9pjjotjs44rdhg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434655653407-aipoh5cu8huv2qt0u9pjjotjs44rdhg3</string>
	<key>API_KEY</key>
	<string>AIzaSyCpltvITTVG2exiVEQwjQ5S6RaKkpsrbn8</string>
	<key>GCM_SENDER_ID</key>
	<string>434655653407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabiomartinez.viewCode-App</string>
	<key>PROJECT_ID</key>
	<string>viewcode-app</string>
	<key>STORAGE_BUCKET</key>
	<string>viewcode-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434655653407:ios:bed7b6a4697b494e80af2a</string>
</dict>
</plist>